@import url("https://fonts.googleapis.com/css2?family=Arvo:wght@400;700&family=Merriweather:ital,wght@0,300;0,400;1,300;1,400&family=Raleway:wght@500;600;700;800&display=swap");
*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:root {
  --accent_colour: #000;
  font-family: "Merriweather", serif;
}

body {
  margin: 0;
  padding: 0;
}

.container {
  min-height: 100vh;
  max-width: 900px;
  margin: auto;
}

.smaller {
  font-size: smaller;
}

header {
  position: fixed;
  background: rgba(255, 255, 255, 0.9);
  width: 100%;
  padding: 0.25em 1em;
  max-width: 900px;
}

.header_cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
}

.title {
  margin: 0.5rem;
  z-index: 2;
  opacity: 1;
}

.hamburger {
  position: relative;
  background: none;
  z-index: 100;
  border: none;
  cursor: pointer;
  margin-left: auto;
}

.hamburger .closeIcon {
  display: none;
}

.menu_desktop {
  display: none;
}

.menu {
  margin-top: 62.5px;
  position: fixed;
  display: none;
  z-index: 1;
  background-color: rgba(255, 255, 255, 0.9);
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  left: 0;
  right: 0;
  top: 0;
}

.menu .nav_link {
  padding-left: 1.5rem;
  font-family: "Raleway", sans-serif;
  text-transform: capitalize;
  height: 62.5px;
  font-size: 2rem;
  font-weight: bolder;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu .nav_link:hover {
  background-color: rgba(0, 0, 0, 0.9);
  color: white;
}

.showMenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.cover_photo {
  margin-top: 62.4px;
  width: 100%;
  height: auto;
  max-height: 400px;
  -o-object-fit: contain;
     object-fit: contain;
}

.content {
  padding: 0 1.25em;
  margin-bottom: 2rem;
  font-weight: lighter;
}

h1,
h2 {
  font-family: "Raleway", sans-serif;
  text-transform: capitalize;
  color: #2f1f29;
}

.accent {
  color: var(--accent_colour);
}

.serving_info {
  text-align: center;
  font-weight: lighter;
}

.serving_info::first-letter {
  text-transform: capitalize;
}

ol,
ul {
  font-size: 0.9375rem;
  padding: 0 2em;
}

ol li,
ul li {
  line-height: calc(0.9375rem + 5px);
}

li::first-letter {
  text-transform: capitalize;
}

.method li {
  margin-bottom: 0.75em;
}

.bonus {
  padding: 0.5em 2em 0 1em;
  font-size: 0.75rem;
}

.recipes_list {
  font-size: 2rem;
}

#title_page {
  --gap: 39px;
  --num-cols: 1;
  --child-width: 75%;
  width: 100%;
  margin-bottom: 2.5em;
}

#title_page h1 {
  font-size: 3.375rem;
  font-size: clamp(3.375rem, 10vw, 6.25rem);
  text-align: center;
  padding: 0.5rem 2rem;
  margin-top: 1em;
  font-family: "Arvo", serif;
}

#title_page .title_img {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 15px 15px 0 0;
}

#title_page .title_text {
  font-family: "Arvo", serif;
  margin: 0;
  margin-top: -1px;
  font-size: 2rem;
  text-align: center;
  border: 1px solid black;
  border-radius: 0 0 15px 15px;
  height: 41px;
  position: relative;
  top: -4px;
  border-top: 1px;
  text-transform: capitalize;
}

#title_page .title_card {
  cursor: pointer;
}

#title_page #title_grid {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-grid-columns: (var(--child-width))[var];
      grid-template-columns: repeat(var(--num-cols), var(--child-width));
  grid-auto-rows: var(--row-height);
  gap: var(--gap);
  -webkit-column-gap: 20px;
          column-gap: 20px;
}

@media screen and (min-width: 450px) {
  #title_page {
    --child-width: 350px;
  }
  #title_page a {
    margin-left: 3rem;
    font-size: 2.5rem;
  }
  header {
    padding: 0.5em 2em;
  }
  .content {
    padding: 0 2em;
  }
  .cover_photo {
    margin-top: 71px;
  }
  .menu {
    margin-top: 71px;
  }
  .menu .nav_link {
    height: 71px;
    padding-left: 2.5rem;
  }
}

@media screen and (min-width: 600px) {
  #title_page {
    --child-width: 40%;
  }
  #title_page h1 {
    margin-bottom: 4rem;
  }
  #title_page #title_grid {
    --num-cols: 2;
  }
  .content {
    padding: 0 4em;
  }
  .header_cont {
    padding: 0 2em;
  }
  .menu .nav_link {
    padding-left: 4.5rem;
  }
}

@media screen and (min-width: 810px) {
  #title_page {
    margin: 0 auto;
    --child-width: 325px;
  }
  #title_page h1 {
    padding: 0;
  }
  .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  h2 {
    color: var(--accent_colour);
  }
  .title {
    font-size: 3rem;
  }
  .img_container {
    padding-left: 3em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .content {
    margin-top: 90px;
  }
  .menu_desktop {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 2em;
  }
  .menu_desktop .nav_link {
    font-family: "Raleway", sans-serif;
    margin-top: 0.75em;
    text-decoration: none;
    color: inherit;
    text-transform: capitalize;
    padding: 0 1em;
    display: inline-block;
    font-size: 1.5rem;
    font-weight: bolder;
  }
  .menu_desktop .nav_link:hover {
    color: var(--accent_colour);
    cursor: pointer;
  }
  .menu,
  .contents_img,
  .hamburger {
    display: none;
  }
  .header_cont {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .cover_photo {
    margin-top: 0;
  }
}

@media screen and (min-width: 900px) {
  #title_page {
    --child-width: 275px;
  }
  #title_page h1 {
    margin-bottom: 4rem;
  }
  #title_page #title_grid {
    --num-cols: 3;
  }
}
/*# sourceMappingURL=style.css.map */